body {
    font-family: 'Roboto', san-serif;
    font-size: medium;
}

/* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
.centerWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#heading {
    font-family: 'Zilla Slab', serif;
    text-decoration: underline;
}

#currentRange {
    color: gray;
    font-style: italic;
    margin: -.5em 0 -.5em 0;
    float: center;
}

#guessResult {
    margin-bottom: 1em;
    visibility: hidden;
}

#guessPrevLbl {
    color: gray;
    text-decoration: underline;
    font-style: italic;
}

#guessPrev {
    visibility: hidden;
    min-height: 5em;
    max-width: 15em;
    overflow-y: auto;
    overflow-x: hidden;
}

.rangePicker {
    width: 9em;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.rangeField {
    width: 4em;
    margin-bottom: 1em;
}

.button {
    color: white;
    background: #440154FF;
    font-size: .85em;
    padding: .65em 1em;
    border-radius: .5em;
}