body {
    font-family: 'Roboto', san-serif;
    font-size: medium;
}

/* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */

.centerWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top {
    text-align: center;
    margin-bottom: 2em;
}

.options {
    float: center;
}

.subText {
    color: gray;
    font-style: italic;
}

#heading {
    font-family: 'Zilla Slab', serif;
    text-decoration: underline;
}

#currentRange {
    color: gray;
    font-style: italic;
    margin: 0 0 0 0;
}

#guessResult {
    margin-bottom: 1em;
    visibility: hidden;
}

#guessPrevLbl {
    float:left;
    text-decoration: underline;
}

#wrongCounts {
    text-align: right!important;
}

.guessPrev {
    margin: 1em 0 1em 0;
    min-height: 5em;
    max-width: 15em;
    overflow-y: auto;
    overflow-x: hidden;
}

.grid {
    margin: 2em .5rem 0 .5rem;
    width: 9em;
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
}

.rangeField {
    width: 4em;
    margin-bottom: 1em;
}

.button {
    color: white;
    background: #440154FF;
    font-size: .85em;
    padding: .65em 1em;
    margin: 0 .5rem 0 .5rem;
    border-radius: .5em;
}